@media all and (max-width: 600px) {
  .Home .lander {
    padding: 5rem 0;
    color: #2F2D2E;
    text-align: center;
  }
  
  .Home .lander h1 {
    font-weight: 700;
  }
  
  .Agendas {
    padding: 5rem 0;
  }
  
  .Agendas .Agenda-list {
    flex: 1;
  }
  
  .Agendas .Agendas-content {
    padding-left: 0;
    padding-bottom: 0;
  }

  .Agendas-main {
    flex-direction: column;
    align-items: center;
  }

  .Agendas .Agenda-title {
    font-size: 1.3rem;
  }
  
}

.Home .lander {
  padding: 5rem 0;
  color: #2F2D2E;
  text-align: center;
}

.Home .lander h1 {
  font-weight: 700;
}

.Agendas {
  padding: 5rem 0;
}

.Agendas .Agenda-list {
  flex: 1;
}

.Agendas .Agendas-content {
  padding-left: 1rem;
  padding-bottom: 0.25rem;
}

.Agendas .Agendas-main {
  padding-right: 2vh;
}
